{% extends "base.html" %}

<!--the content that special to this document-->
  {% block content%}
  <h1 class="footer_heading" >Connnect us</h1>
  <footer >
    <!--Start P contact--->
<p class="P-contact" > 
Connct with US here, our phones and our location here!</p>
<!--End p contact-->
<!--Start Contact-->
<section class="contact">
<div class="cover"></div>
<!--Start contact Left-->
<div class="contact__left">
<!--contact-option-->
<div class="contact__option">
<img src="../static/images/Icons/place.webp" class="contact__option-icon" />
<div class="contact__option-text">Address, Giza, Cairo</div>
</div>
<!--End contact Left-->
  <!-- Start contact-option1-->
<div class="contact__option">
      <img src="../static/images/Icons/envelope.webp" class="contact__option-icon" />
      <div class="contact__option-text">ShopIphone111@gmail.com</div>

    </div>
    <!--End contact option1-->

    <!-- Start contact-option2-->
    <div class="contact__option">
      <img src="../static/images/Icons/phone.webp" class="contact__option-icon" />
      <div class="contact__option-text">+11 55 23 45 67 89</div>

    </div>
    <!----End contact option2---->
    <div class="contact__option">
      <img src="../static/images/Icons/clock.webp" class="contact__option-icon" />
      <div class="contact__option-text">EveryDay  9:00 AM To 12:00 PM</div>

    </div>
    <a class="contact_btn" href="/sign-up">Click here to sign-up first</a>
    
  </div>
<!----End contact ---->



</footer>
    <!--~~~~End~~~~~-->
  
  
  {%endblock%}