{% extends "base.html" %}

<!--the content that special to this document-->
  {% block content%}
    <div class="content">
      <div class="text">
          <h2>iphone 15 pro max</h2>
          <p>
              iPhone 15 Pro is the first iPhone to feature an aerospace grade titanium design, using the same alloy that spacecraft
               use for missions to Mars.Titanium has one of the best strength to weight ratios of any metal, making these our lightest Pro models ever. 
               You ll notice the difference the moment you pick one up.
          </p>
   
       <a  class="prodcuts" href="/products">All Products</a>
      </div>
      <div class="images">
       <img class="img" src="../static/images/0.webp" alt="iPhone">
  
          
      </div>
     </div>
     <div class="icons">
      <img onclick="ipone(this.src); colors('linear-gradient(gold, black, white)')" src="../static/images/0.webp" >
      <img onclick="ipone(this.src); colors('linear-gradient(lightblue, black, white)')" src="../static/images/1.webp" >
      <img onclick="ipone(this.src); colors('linear-gradient(gray, black, white)')" src="../static/images/2.webp" >
      <img onclick="ipone(this.src); colors('linear-gradient( bisque, black, white)')" src="../static/images/3.webp" >
      <img onclick="ipone(this.src); colors('linear-gradient(red, black, white)')" src="../static/images/4.webp" >
     </div>
 
    
  
  <script src="{{url_for('static', filename='main.js')}}"></script>
  {%endblock%}

  