{% extends "base.html" %}


  {% block content%}
  
  <div class="sign-box">
    <div class="contact__popup">
        Please write your name and  your Password.
      </div>
<h2>Login </h2>
<form action="">
    <div class="user-box">
        <input id="name" type="text" required >
        <label for="text">Username</label>
    </div>
    <div class="user-box">
      <input  id="password" type="password" required > 
      <label for="password">password</label>
      <input type="button" value="SEND" class="contact__form-btn" id="contact-btn">
  </div>
 
    <a  href="/home">
        <span></span>
        <span></span>
        <span></span>
        <span></span>Login
    </a>
</form>
</div>
    </div>
  

<script>
    /*Some scripts*/
{
  const popupMsg = document.querySelector(".contact__popup");
  const userName = document.getElementById("name");
  const userpass = document.getElementById("password");
  const btn = document.getElementById("contact-btn");
  /* When Writing */
  userName.addEventListener("focus", function () {
    popupMsg.innerHTML = "Name must be more than 10 letters.";
    popupMsg.style.cssText = `border-left: 15px solid blue;box-shadow: 0px 0px 15px lightblue`;
  });


  userpass.addEventListener("focus", function () {
    popupMsg.innerHTML = "Your password is worng please enter a correct password.";
    popupMsg.style.cssText = `border-left: 15px solid blue; box-shadow: 0px 0px 15px lightblue`;
  });

  /*When submit*/

  btn.addEventListener("click", function () {
    let name = userName.value;
    let password= userpass.value;
    if (name == "" || password == "") {
      popupMsg.innerHTML =
        "Something went wrong. check your data and try again.";
      popupMsg.style.cssText =
        "border-left: 15px solid red; box-shadow: 0 0 15px red";
    } else {
      popupMsg.innerHTML = "Thank you! Your message has been sent.";
      popupMsg.style.cssText =
        "border-left: 15px solid green; box-shadow: 0 0 15px green";
      userName.value = "";
      userpass.value = "";
    }
  });
}

 </script>
  
  {%endblock%}