{% extends "base.html" %}

  {% block content%}
  
 <h1 class="heading" > The Shop the latest iPhone models and accessories. </h1>
<!--Start Offer Card-->
        
    <!---Start offer card one-->
    <section class="offers" >
      <div class="flex offer-card">
        <p class="offer-card__type">Iphone 15 pro Max</p>
        <img class="offer-card__image" src="../static/images/ipone 10.jpg">
        <h3 class="offer-card__heading">256GB / 512GB</h3>
        <p class="offer-card__cost">$1200 / $1400</p>
        <a href="/connect-us" class='offer-card__btn'>Buy Now</a>
      </div>
  <!---End  card one-->
      <!---Start  card two-->
      <div class="flex offer-card">
        <p class="offer-card__type">Ipone 15 pro</p>
        <img class="offer-card__image" src="../static/images/iPhone-15-Pro.jpg">
       <h3 class="offer-card__heading">128GB / 256GB</h3>
 
        <p class="offer-card__cost">$1000 / $1100</p>
       <a href="/connect-us"class='offer-card__btn'>Buy Now</a>
     </div>



       <!---End  card two-->

         <!----Star  card three-->


         <div class="flex offer-card">
          <p class="offer-card__type">Iphone 15 </p>
          <img class="offer-card__image" src="../static/images/iphone1.webp">
          <h3 class="offer-card__heading">128GB / 256GB</h3>
    
          <p class="offer-card__cost">$800/ $900</p>
          <a href="/connect-us" class='offer-card__btn'>Buy Now</a>
        </div>
  

        
          <!--Start  card four-->

          <div class="flex offer-card">
            <p class="offer-card__type">Iphone 14 pro Max</p>
            <img class="offer-card__image" src="../static/images/iphone8.webp">
            <h3 class="offer-card__heading">128GB / 256GB</h3>
      
            <p class="offer-card__cost">$1100 / $1200</p>
            <a href="/connect-us" class='offer-card__btn'>Buy Now</a>
          </div> 
           <!----End card three-->
        



     
        <!---End  card four-->

          <!---Start card five-->

          <div class="flex offer-card">
            <p class="offer-card__type">Iphone 14 po </p>
            <img class="offer-card__image" src="../static/images/iphone 14 pro.jpg">
            <h3 class="offer-card__heading">128GB / 256GB</h3>
      
            <p class="offer-card__cost">$1000 / $1100</p>
            <a href="/connect-us" class='offer-card__btn'>Buy Now</a>
          </div>



       
        <!---End card five-->

           <!---Start  card six-->
           <div class="flex offer-card">
            <p class="offer-card__type">Iphone 14</p>
            <img class="offer-card__image" src="../static/images/ipone 12.webp">
            <h3 class="offer-card__heading">128GB / 256GB</h3>
      
            <p class="offer-card__cost">$700 / $850</p>
            <a href="/connect-us" class='offer-card__btn'>Buy Now</a>
          </div>


          
          <!---End  card six-->
          
             <!---Start  card seven-->

             <div class="flex offer-card">
              <p class="offer-card__type">Iphone 13 Pro Max
              </p>
              <img class="offer-card__image" src="../static/images/iphone 11.jpg">
              <h3 class="offer-card__heading">128GB / 256GB</h3>
        
              <p class="offer-card__cost">$850 / $950</p>
              <a href="/connect-us" class='offer-card__btn'>Buy Now</a>
            </div>

       
        <!---End card seven-->
          
       <!---Start card Eight-->
       
       <div class="flex offer-card">
        <p class="offer-card__type">Iphone 13 </p>
        <img class="offer-card__image" src="../static/images/iphone.jpg">
        <h3 class="offer-card__heading">128GB / 256GB</h3>
  
        <p class="offer-card__cost">$740 / $875</p>
        <a href="/connect-us" class='offer-card__btn'>Buy Now</a>
      </div>
  <!---End offer card Eight-->

    </section>
    
<!--End Offer Card-->
  


 
<!--Start Gallery-->
<section class="gallery">
<!--Gallery Slider-->
<h2 class="gallery__heading">Our Gellery</h2>
<div class="gallery__slider">
<div class="slider__counter"></div>
<img src="../static/images/iphone1.webp" alt="photo one" class="slider__image" />
 <div class="slider__prev"><</div>
<div class="slider__next">></div>
<!--Gallery photo description-->
<div class="gallery__text"></div>
 <!--Gallery photo row-->
<div class="gallery__row">
<!----Image one-->
<img src="../static/images/iphone2.jpg" alt="photo one" class="gallery__row-img" id="1"/>
              <!----Image two-->
<img src="../static/images/iphone3.jpg" alt="photo two" class="gallery__row-img" id="2"/>
              <!----Image three-->
<img src="../static/images/iphone23.jpg"alt="photo three" class="gallery__row-img" id="3" /> 
                <!----Image four-->
<img src="../static/images/iphone5.jpg"alt=" photo four"  class="gallery__row-img"  id="4"/>
              <!----Image five-->
<img src="../static/images/iphone6.jpg"alt="photo five"  class="gallery__row-img"  id="5" />
          
               <!----Image six-->
<img src="../static/images/iphone7.jpg"alt="photo six" class="gallery__row-img"  id="6" />
        <!----Image seven-->
<img src="../static/images/iphone16.jpg"alt="photo seven" class="gallery__row-img"  id="7" />

  <!----Image Eight-->
  <img src="../static/images/iphone 18.jpg"alt="photo Eight" class="gallery__row-img"  id="8" />
            </div>
          </section>
          <!----------------End  Gallery------------------------->

<!----Start iphone Animi-->
<h1 class="animi_style" >view our shope</h1>
 <div class="shopes">
  <!---Start iphone hedding-->
  <h2 class="shopes__hedding" > </h2>
  <!---End iphone hedding-->
   <div class="grid-container">
   <div class="left-shopes animi"></div>
    <div class="middle-shopes animi"></div>
     <div class="right-shopes animi"></div>

     </div>
     <!----End Iphone Animi-->



        <!--main-->
    <main>
      <!--hero-->
      <div class="hero ">


         <!--hero-logo-->
        <div class="left-phone">
          
        </div>
        <!--~~~~End~~~~~-->
        <!--hero-phones-->
        <div class="right-phone">
         
          
         
   
           
  
  {%endblock%}